table{
    border: 5px solid rgb(199, 8, 8);
}
th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: #e25024fa;

}
td{
    border: 1px solid black;
    padding: 5px;
   text-align: center;
   background-color: #ffffff;

}
